// COLORS
$primary-color: #009640;
$secondary-color: #578429;

$white-color: #fff;

$brown-color: #804000;

$dark-grey: #333333;

$dark-blue-text: #272341;

$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
